.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  .content {
    width: 300px;
    border: 1px solid $border-color;
    padding: 25px;
    border-radius: $border-radius-base;

    > div {
      * {
        width: 100%;
      }

      padding-top: 10px;
      text-align: center;

      > p {
        margin-bottom: 20px;
        margin-top: 0px;
        color: white;
        font-weight: bold;
      }

      > input {
        @include input;
      }

      > button {
        @include btn(
          $primary-color,
          transparent,
          $border-radius-big,
          $white,
          $primary-color
        );
      }
    }

    > div:nth-child(4) {
      text-align: left;

      a {
        color: $primary-color;
        padding: 15px 0px;
      }
    }
  }
}
